<div class="table">
  <% @events.each do |event| %>
    <div class="row">
      <span><%= link_to event.title, event %></span>
      <span class="action"><%= link_to t(:edit), edit_event_path(event) if can? :edit, Event %>
      <span class="action"><%= link_to t(:del), event, :confirm => sure?, :method => :delete if can? :destroy, Event %></span>
    </div>
  <% end %>
  <%= link_to new(:event), new_event_path if can? :new, Event %>
</div>
