@import "compass/css3/border-radius"
@import "compass/css3/gradient"

$menu_colour: #932710
$title_colour: #cd7f12
$bg_colour: #ddd
$alert_dark: #933
$error_colour: #cd4d10
$link_colour: #4B7399
$notice_dark: #396
$alert_light: #f33
$notice_light: #4CC417

$a_size: 12px

body
  font: normal 14px "Helvetica Neue", Arial, Helvetica, sans-serif
  color: white
  background: black
  a
    color: $link_colour
    text-decoration: none
    font-size: $a_size

div.clear
  clear: both
  height: 0
  overflow: hidden

div.time
  font-size: 12px
  color: $title_colour

div.hide
  visibility: hidden

@mixin white-gradient
  color: black
  font-weight: bold
  padding: 5px
  +border-radius(10px)
  +linear-gradient(color-stops(gray, white))

$star_base_y: 0px
$star_base_x: 0px
$star1_x: $star_base_x + 177px
$star1_y: $star_base_y + 82px
$star2_x: $star_base_x + 740px
$star2_y: $star_base_y + 57px
$star3_x: $star_base_x + 151px
$star3_y: $star_base_y + 377px
$star4_x: $star_base_x + 460
$star4_y: $star_base_y + 85 
$star5_x: $star_base_x + 880
$star5_y: $star_base_y + 450
$star6_x: $star_base_x + 800
$star6_y: $star_base_y + 450
@mixin star-base($x, $y, $w: 47px, $h: 47px)
  left: $x
  top: $y
  position: absolute
  background-color: transparent
  width: $w
  height: $h
  z-index: 1
  display: block

$input_field_width: 278px
form
  li
    list-style-type: none
    margin-bottom: 10px
    input, textarea
      width: $input_field_width
    textarea
      height: 60px
  fieldset
    padding-bottom: 10px
    border-top: 2px solid white

div#contents_container
  div#star1
    +star-base($star1_x,$star1_y)
  div#star2
    +star-base($star2_x,$star2_y)
  div#star3
    +star-base($star3_x,$star3_y)
  div#star4
    +star-base($star4_x,$star4_y,71px,64px)
  div#star5
    +star-base($star5_x,$star5_y)
  div#star6
    +star-base($star6_x,$star6_y,71px,64px)
  width: 878px
  margin: 30px auto 0 auto
  border: 1px solid white
  +border-radius(10px)
  padding: 5px 10px
  img#enter
    position: absolute
    top: 50%
    left: 50%
    width: 432px
    height: 410px
    margin-top: -216px
    margin-left: -210px
  div#contents
    &.enter
      background: none
    min-height: 500px
    background: black url('red_moon_mizuki2.png') no-repeat scroll top left
    div.flash
      float: left
      margin-left: 878px - 500px 
      margin-bottom: 5px
    div#flash_notice
      text-shadow: 3px 3px 3px $notice_light
    div#flash_alert
      text-shadow: 3px 3px 3px $alert_light
    div.center
      float: none 
      text-align: center
      margin-left: 0
      margin-right: 0
    div#site_nav_container
      float: right
      width: 180px
      margin-top: 5px
    div#main_container
      width: 278px
      min-height: 458px
      float: right
      background: rgba(20,20,20,0.8)
      border: 1px solid white
      +border-radius(10px)
      padding: 20px
      z-index: 0

div#site_nav
  ul
    float: right
    li
      text-align: right
      padding: 2px 5px 2px 2px 
      position: relative
      width: 190px
      a
        color: white
        text-shadow: 2px 2px 2px $link_colour
        font-size: 25px
    li.selected
      background: black
      padding: 1px 4px 1px 1px 
      border: 1px solid white
      +border-radius(10px)

div#user_nav
  text-align: right
  margin-bottom: 20px
  a
    +border-radius(10px)
    +white_gradient
    padding-bottom: 3px
    border: 1px solid white
    font-size: 12px
    margin-right: 6px

div#bottom_links
  margin-top: 20px
