<div id="site_nav">
  <ul>
    <li class="<%= @selected == :events ? 'selected' : '' %>">
      <%= link_to pl(:event), events_path %>
    </li>
    <li class="<%= @selected == :contact ? 'selected' : '' %>">
      <%= link_to jt(:contact), contact_path %>
    </li>
  </ul>
</div>
